<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <!--<a class="navbar-brand" href="restaurant_chooser">MunchPunch</a> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= nav_link_to "Where to Eat?","restaurant_chooser", page_restaurant_chooser_path, "current_page" %></li>
        <li><%= nav_link_to "Review It!", "restaurants", restaurants_path, "current_page" %></li>
        <li><%= nav_link_to "Our Team","our_team", page_our_team_path, "current_page" %></li>
        <li><%= nav_link_to "Contact Us", "contact_us", page_contact_us_path, "current_page" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= nav_link_to "FAQ", "faq", page_faq_path,"current_page" %></li>
        <li><a href=""><img src="http://static.viewbook.com/images/social_icons/facebook_16.png"></a></li>
        <li><a href=""><img src="http://static.viewbook.com/images/social_icons/twitter_16.png"></a></li>
        <li><a href=""><img src="http://static.viewbook.com/images/social_icons/instagram_16.png"></a></li>
      </ul>
    </div>
  </div>
</nav>
